body {
    background: #3A3699;
}

div {
    margin: 0 auto;
}

h1 {
    font-family: Catamaran;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.02em;
    color: white;
}

.clock {
    display: flex;
    flex-direction: column;
}

.time {
    font-size: 100px;
    color: white;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
}

button {
    width: 20vw;
    color: #3A3699;
    background: white;
}