body {
    background: #3A3699;
}

div {
    margin: 0 auto;
    max-width: 100%;
}

h1 {
    font-size: 50px;
    margin-top: 60px;
    margin-bottom: 40px;
    font-family: Catamaran;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.02em;
    color: white;
}

.clock {
    display: flex;
    flex-direction: column;
}

.time {
    font-size: 100px;
    color: white;
    justify-content: center;
}

.buttons {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

button {
    width: 20vw;
    color: #3A3699;
    background: white;
    margin-left: 20px;
    transition: 0.6s;
    font-size: 16px;
    font-family: Catamaran;
    width: 264px;
    height: 56px;
}

button:hover {
    color: white;
    background: #6487FF;
    border: 1px solid white;
    cursor: pointer;
}

.last {
    margin-right: 20px;
}

.instructions {
    color: white;
    font-size: 16px;
    font-family: Catamaran;
    text-align: center;
    margin: 60px 20px;
}

p {
    line-height: 1.5;
}

.bold {
    font-weight: 600;
}

@media screen and (max-width:500px) {
    .buttons {
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }
    button {
        margin-top: 20px;
    }
    .instructions {
        margin-top: 20px;
    }
}