.user-list{
    background-color: white;
    width: 100%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .user-list-title{
        font-size: 50px;
        color: black;
        padding-top: 2%;
        padding-bottom: 2%;
        margin-left: 5vw;
        h1 {
        font-size: 35px;
        }
        
    }

    .user-search-menu{
        background-color: coral;
        display: flex;
        justify-content: flex-end;
        align-content: center;
        margin-bottom: 2%;
        width: 100%;
        padding-right: 14%;

        .user-list-search-bar{
            display: flex;
            border: 1px solid #E5E5E5;
            input {
            border: none;
            }
        }

        .user-list-team-dropdown{
            height: 100%;
            padding: 10px 0;
            margin-right: 10px;
            border: 1px solid #E7E7E7;
            box-sizing: border-box;
            text-align-last:center;
            margin-left: 10px;
            width: 150px;
        }
    }

    .user-list-list{
        background-color: cornflowerblue;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        padding-left: 1%;
        padding-right: 1%;
    }
}