

.leader-board-section{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 7vw;
  margin-right: 5vw;

.teamCardFlex {
  color: black;
  display: flex;
  border-bottom: 1px solid gray;
  @media (max-width: 768px) {
      display: initial;
      justify-content: flex-start;
  }
}

.plusButton {
  width: 90vw;
}
.blank {
  width: 10vw;
}
.leaderboard-title{
  display: flex;
  justify-content: center;
  padding: 20px;
  font-family: "gopher",sans-serif;
  font-size: 45px;
  font-weight: 500;
}

}

// .cardClass{
//   background-color: brown !important;
//   display: none;
//   border: solid 2px black;
//   border-radius: 0;
// }

// .teamCardFlex{
//   background-color: cornflowerblue;
// }

// .btn .btn-primary{
//   background-color: crimson;
// }

.teamCardFlex {
  color: black;
}
.btn {
  background-color: white;
  border: 3px black solid;
  box-shadow: 5px 5px 0 black;
}

.card-body{
  font-family: "gopher",sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .accordian-user-card{
    border: black 2px solid;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
  }
}


.leaderboard {
  background-color: black;
  display: flex;
  flex-direction: column;
  div { width: 100%;}
  .teamCardFlex {
    color: black;
  }
  .btn {
    background-color: white;
    border: 3px black solid;
    box-shadow: 5px 5px 0 black;
  }
}