.daily-retro{
    width: 90vw;
    height: 100vh;
    border:solid black;
    border-width: 2px;
    margin: 0  auto;
    display: flex;
    flex-direction: column;

    // Header
    .header{
        width: 100%;
        border-bottom:solid black;
        border-width: 2px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        padding: 20px 40px 20px 40px;

        .daily-points{
            
            h2{
                font-size: 44px;
                font-weight: 500;
            }

            h3{
                font-size: 24px;
                font-weight: 500;
            }
        }
        // User Profile
        .user-profile{
        border:solid black;
        border-width: 1px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        padding: 5px;
        box-shadow: 10px 10px;

        img{
            border-radius: 50%;
        }

        // User Info
        .user-info{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        padding: 0 10px 0 10px;
        }
    }

}

    // Forum
    .DailyRetro{
        height: 100%;

        .slides{
            height: 100%;
        }
    }


}