.daily-retro{
    width: 90vw;
    height: 100vh;
    border:solid black;
    border-width: 2px;
    margin: 0  auto;
    display: flex;
    flex-direction: column;

    // Header
    .header {
        width: 100%;
        border-bottom: solid black;
        border-width: 2px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        padding: 20px 40px 20px 40px;
  
        .daily-points {
          h2 {
            font-size: 44px;
            font-weight: 500;
          }
  
          h3 {
            font-size: 24px;
            font-weight: 500;
          }
        }
        // User Profile
        .user-profile {
          border: solid black;
          border-width: 1px;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-around;
          padding: 5px;
          box-shadow: 10px 10px;

          .profile-pic{
            border-radius: 50%;
          }

          .dropdown-toggle{
            margin-top: 40px;
            background-color: white !important;
            color: black;
            font-size: 32px;
            border: none;
            height: 50px;
          }
          .dropdown-item{
              color: black;
              font-family: inherit;
              font-size: 24px;
              margin: 10px;
              width: 200px;

              img{
                  width: 30px;
                  margin-right: 40px;
              }
          }
        
  
          // User Info
          .user-info {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-around;
            padding: 0 10px 0 10px;
          }
    
        }
      }

    // Forum
    .DailyRetro{
        height: 100vh;
        width: 100%;

        .metric-slide{
            

            .slide-nav{
                height: 100px;
                border-bottom: black solid 2px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                h2{
                    font-size: 32px;
                    font-weight: 700;
                }

                button{
                    border: none;
                    font-size: 24px;
                    font-weight: 400;
                    background-color: white;
                    color: cornflowerblue;
            
                }
                
                /* mouse over link */
                button:hover{
                    color: black; 
                }
            }

            .slide-content{
                height: 75vh;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;

                .slide-card{
                    width: 75%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    justify-content: space-evenly;
                    align-items: center;

                    a{
                        font-size: 24px;
                        font-weight: 500;
                        color: cornflowerblue;
                    }

                    a:hover{
                        
                        color: black; 
                        
                    }

                            // Metrics Cards
                            .metric-card{
                                width: 50%;
                                height: 70%;
                                border:solid black;
                                border-width: 1px;
                                display: flex;
                                flex-direction: column;
                                flex-wrap: nowrap;
                                justify-content: space-between;
                                align-items: center;
                                margin-bottom: 30px;
                                box-shadow: 10px 10px;

                                h3{
                                    font-size: 32px;
                                }

                                // Metrics Card Title
                                .metrics-card-title{
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    padding: 10px 0px;
                                }

                                // Metrics Card Content
                                .metrics-card-content{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    margin: 0 auto;
                                    height: 325px;

                                    img{
                                        max-width: 90%;
                                        max-height: 90%;
                                        padding: 10px 0px 10px 0px;
                                        margin: 5px 0px 5px 0px;
                                        overflow: hidden;
                                    }
                                }

                                // Metric Card Input
                                .metric-card-input{
                                    width: 100%;
                                    height: 75px;
                                    border-top:solid @color-black;
                                    border-width: 1px;
                                    display: flex;
                                    flex-direction: row;
                                    flex-wrap: nowrap;
                                    justify-content: space-between;

                                    button{
                                        width: 75px;
                                        background-color: @color-white;
                                        border: none;
                                        font-size: 32px;
                                        font-weight: 500 !important;
                                    }

                                    h3{
                                        display: flex;
                                        height: 75px;
                                        justify-content: center;
                                        align-items: center;
                                        width: 100%;
                                        border-left: solid black;
                                        border-right: solid black;
                                        border-width: 1px;
                                    }
                                }
                            }
                }

                .slide-goal{
                    width: 25%;
                    border-left: solid black 2px;
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    h2{
                        font-size: 64px;
                        font-weight: 500;
                    }

                    p{
                        font-size: 20px;
                        font-weight: 400;
                    }

                }
            }
        }
    }


}