.cardwrapper {
    overflow: hidden;
    padding: 0 0 32px;
    margin: 48px auto 0;
    width: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5), 0 0px 40px rgba(0, 0, 0, 0.3);
    border-radius: 5px;

}
.cardheader {
    padding-top: 32px;
    padding-bottom: 32px;
    
}
.cardheading {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    
}
.cardbody {
    padding-right: 32px;
    padding-left: 32px;
    
}
.cardfieldset {
    position: relative;
    padding: 0;
    margin: 0;
    border: 0;

    & + & {
    margin-top: 24px;
  }

    &:nth-last-of-type(2) {
    margin-top: 32px;
  }

    &:last-of-type {
    text-align: center;
  }
    
}
.cardinput{
    padding: 7px 0;
    width: 100%;
    font-size: 14px;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #ddd;
    border-left: 0;
    transition: border-bottom-color 0.25s ease-in;
  
    &:focus {
      border-bottom-color: #e5195f;
      outline: 0;
    }
    
}
.card-button {
    display: block;
    width: 100%;
    padding: 12px 0;
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    color: white;
    background-color: black;
    border: 0;
  
    box-shadow: 0 10px 10px rgba(0, 0, 0, .5);
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  
    &:hover {
      box-shadow: 0 15px 15px rgba(0, 0, 0, 0.16);
      transform: translate(0, -5px);
    }
    
}
.cardlink {
    display: inline-block;
    font-size: 12px;
    text-decoration: none;
    color: #aaa;
  
    cursor: pointer;
    transition: color 0.25s ease-in;
  
    &:hover {
      color: #777;
    }
}
