.user-dashboard {
    background-color: whitesmoke;

    .main{
        background-color: yellow;
        width: 70%;
    }

    .user-sidebar{
        background-color: yellowgreen;
        width: 30%;
    }
}