

.user-dashboard {
    background-color: white;
    width: 80%;
    max-width: 1800px;
    margin: 0  auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    border:solid black;
    border-width: 2px;

    // Main
    .main{
        width: 75%;
        border-right:solid black;
        border-width: 2px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        
        // Header
        .header{
        width: 100%;
        border-bottom:solid black;
        border-width: 2px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        padding: 20px 40px 20px 40px;

        // User Profile
        .user-profile{
        border:solid black;
        border-width: 1px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        padding: 5px;;

        // User Info
        .user-info{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        padding: 0 10px 0 10px;
        }
        }
    }


        // Metrics Container
        .metrics-container{
            height: 100%;
            background-color: yellow;
            padding: 40px;;
        }

        // Metrics Header
        .metrics-header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: yellowgreen;
            margin-bottom: 40px;;
        }

        // Metrics
        .metrics{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        }

        // Metrics Cards
        .metric-card{
            background-color:white;
            width: 27%;
            border:solid black;
            border-width: 1px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;

            // Metrics Card Title
            .metrics-card-title{
                padding-top: 10px;
                padding-bottom: 10px;
            }

            // Metrics Card Content
            .metrics-card-content{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                height: 300px;

                img{
                    width: 70%;
                }
            }

            // Metric Card Input
            .metric-card-input{
                width: 100%;
                border:solid black;
                border-width: 1px;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
            }
        }

    }

    .user-sidebar{
        width: 25%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;

        // Personal Goals
        .personal-goals{
            width: 100%;
            height: 50%;
            border-bottom: solid black;
            border-radius: 2px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
        }

        // LeaderBoard
        .leader-board{
            width: 100%;
            height: 50%;
            // border: solid black;
            // border-radius: 2px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
        }

        // Integrations
        .integrations{
            width: 100%;
            border: solid black;
            border-radius: 2px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
        }
    }


}