

.user-dashboard {
    font-family: "gopher",sans-serif;
    background-color: white;
    width: 80%;
    max-width: 1800px;
    margin: 0  auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    border:solid black;
    border-width: 2px;

    // Main
    .main{
        width: 75%;
        border-right:solid black;
        border-width: 2px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        
        // Header
        .header{
        width: 100%;
        border-bottom:solid black;
        border-width: 2px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        padding: 20px 40px 20px 40px;

        .daily-points{
            
            h2{
                font-size: 44px;
                font-weight: 500;
            }

            h3{
                font-size: 24px;
                font-weight: 500;
            }
        }
        // User Profile
        .user-profile{
        border:solid black;
        border-width: 1px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        padding: 5px;
        box-shadow: 10px 10px;

        img{
            border-radius: 50%;
        }

        // User Info
        .user-info{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        padding: 0 10px 0 10px;
        }
        }
    }


        // Metrics Container
        .metrics-container{
            height: 100%;
            padding: 40px;
        }

        // Metrics Header
        .metrics-header{

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 40px;;
        }

        // Metrics
        .metrics{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        }

        // Metrics Cards
        .metric-card{
            width: 27%;
            border:solid black;
            border-width: 1px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
            box-shadow: 10px 10px;

            // Metrics Card Title
            .metrics-card-title{
                height: 50px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            // Metrics Card Content
            .metrics-card-content{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                height: 300px;

                img{
                    width: 70%;
                    padding: 10px 0px 10px 0px;
                }
            }

            // Metric Card Input
            .metric-card-input{
                width: 100%;
                height: 50px;
                border-top:solid @color-black;
                border-width: 1px;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;

                button{
                    width: 75px;
                    background-color: @color-white;
                    border: none;
                    font-weight: 24px !important;
                }

                h3{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    border-left: solid black;
                    border-right: solid black;
                    border-width: 1px;
                }
            }
        }

    }

    .user-sidebar{
        width: 25%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;

        // Personal Goals
        .personal-goals{
            width: 100%;
            height: 50%;
            border-bottom: solid black;
            border-radius: 2px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
        }

        // LeaderBoard
        .leader-board{
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
        }

        // Sidebar Titles
        .sidebar-title{
            font-size: 100px  !important;
            font-weight: 500  !important;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px 0px 20px 0px ;
            width: 100%;
        }

        // Sidebar Content
        .sidebar-content{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            h2{
                padding: 10px 0px 10px 0px;
            }

            .sidebar-content-categrories{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }
        }
        // Integrations
        .integrations{
            width: 100%;
            border: solid black;
            border-radius: 2px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
        }
    }


}