/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.user-dashboard {
  background-color: white;
  width: 80%;
  max-width: 1800px;
  margin: 0  auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  border: solid black;
  border-width: 2px;
}
.user-dashboard .main {
  width: 75%;
  border-right: solid black;
  border-width: 2px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.user-dashboard .main .header {
  width: 100%;
  border-bottom: solid black;
  border-width: 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px 20px 40px;
}
.user-dashboard .main .header .user-profile {
  border: solid black;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 5px;
}
.user-dashboard .main .header .user-profile .user-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 0 10px 0 10px;
}
.user-dashboard .main .metrics-container {
  height: 100%;
  background-color: yellow;
  padding: 40px;
}
.user-dashboard .main .metrics-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: yellowgreen;
  margin-bottom: 40px;
}
.user-dashboard .main .metrics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.user-dashboard .main .metric-card {
  background-color: white;
  width: 27%;
  border: solid black;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.user-dashboard .main .metric-card .metrics-card-title {
  padding-top: 10px;
  padding-bottom: 10px;
}
.user-dashboard .main .metric-card .metrics-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 300px;
}
.user-dashboard .main .metric-card .metrics-card-content img {
  width: 70%;
}
.user-dashboard .main .metric-card .metric-card-input {
  width: 100%;
  border: solid black;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.user-dashboard .user-sidebar {
  width: 25%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.user-dashboard .user-sidebar .personal-goals {
  width: 100%;
  height: 50%;
  border-bottom: solid black;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.user-dashboard .user-sidebar .leader-board {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.user-dashboard .user-sidebar .integrations {
  width: 100%;
  border: solid black;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.cardwrapper {
  overflow: hidden;
  padding: 0 0 32px;
  margin: 48px auto 0;
  width: 300px;
  font-family: Quicksand, arial, sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5), 0 0px 40px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.cardheader {
  padding-top: 32px;
  padding-bottom: 32px;
}
.cardheading {
  font-size: 24px;
  font-family: Gopher;
  font-weight: bold;
  text-align: center;
}
.cardbody {
  padding-right: 32px;
  padding-left: 32px;
}
.cardfieldset {
  position: relative;
  padding: 0;
  margin: 0;
  border: 0;
}
.cardfieldset + .cardfieldset {
  margin-top: 24px;
}
.cardfieldset:nth-last-of-type(2) {
  margin-top: 32px;
}
.cardfieldset:last-of-type {
  text-align: center;
}
.cardinput {
  padding: 7px 0;
  width: 100%;
  font-family: inherit;
  font-size: 14px;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #ddd;
  border-left: 0;
  transition: border-bottom-color 0.25s ease-in;
}
.cardinput:focus {
  border-bottom-color: #e5195f;
  outline: 0;
}
.card-button {
  display: block;
  width: 100%;
  padding: 12px 0;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  color: white;
  background-color: black;
  border: 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.card-button:hover {
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.16);
  transform: translate(0, -5px);
}
.cardlink {
  display: inline-block;
  font-size: 12px;
  text-decoration: none;
  color: #aaa;
  cursor: pointer;
  transition: color 0.25s ease-in;
}
.cardlink:hover {
  color: #777;
}
