@import url("https://p.typekit.net/p.css?s=1&k=ura8omc&ht=tk&f=43703.43705.43706&a=38336531&app=typekit&e=css");
@font-face {
  font-family: "gopher";
  src: url("https://use.typekit.net/af/18dda4/00000000000000003b9b3bb2/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"), url("https://use.typekit.net/af/18dda4/00000000000000003b9b3bb2/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"), url("https://use.typekit.net/af/18dda4/00000000000000003b9b3bb2/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "gopher";
  src: url("https://use.typekit.net/af/7a7451/00000000000000003b9b3bb4/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/7a7451/00000000000000003b9b3bb4/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/7a7451/00000000000000003b9b3bb4/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "gopher";
  src: url("https://use.typekit.net/af/ea20f7/00000000000000003b9b3bb5/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"), url("https://use.typekit.net/af/ea20f7/00000000000000003b9b3bb5/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"), url("https://use.typekit.net/af/ea20f7/00000000000000003b9b3bb5/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 400;
}
.tk-gopher {
  font-family: "gopher", sans-serif;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "gopher", sans-serif;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "gopher", sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
.user-dashboard {
  font-family: "gopher", sans-serif;
  background-color: white;
  width: 100%;
  max-width: 1800px;
  height: 100vh;
  max-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  border: solid black;
  border-width: 2px;
}
.user-dashboard .main {
  width: 75%;
  border-right: solid black;
  border-width: 2px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.user-dashboard .main .header {
  width: 100%;
  border-bottom: solid black;
  border-width: 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px 20px 40px;
}
.user-dashboard .main .header h3 {
  font-size: 24px;
  margin-left: 20px;
}
.user-dashboard .main .header .daily-points h2 {
  font-size: 44px;
  font-weight: 500;
}
.user-dashboard .main .header .daily-points h3 {
  font-size: 24px;
  font-weight: 500;
}
.user-dashboard .main .header .user-profile {
  border: solid black;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  box-shadow: 10px 10px;
}
.user-dashboard .main .header .user-profile .profile-pic {
  border-radius: 50%;
  margin: 10px 0px 10px 10px;
}
.user-dashboard .main .header .user-profile .dropdown-toggle {
  margin-top: 40px;
  background-color: white !important;
  color: black;
  font-size: 32px;
  border: none;
  height: 50px;
}
.user-dashboard .main .header .user-profile .dropdown-menu {
  width: 362px;
  box-shadow: 5px 5px;
  border: 1px solid black;
}
.user-dashboard .main .header .user-profile .dropdown-item {
  color: black;
  font-family: inherit;
  font-size: 24px;
}
.user-dashboard .main .header .user-profile .dropdown-item img {
  width: 30px;
  margin-right: 40px;
}
.user-dashboard .main .header .user-profile .user-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.user-dashboard .main .header .user-profile .user-info h3:first-of-type {
  margin-top: 10px;
}
.user-dashboard .main .header .user-profile .btn-group {
  position: unset;
}
.user-dashboard .main .metrics-container {
  height: 100%;
  padding: 40px;
  overflow: scroll;
}
.user-dashboard .main .metrics-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}
.user-dashboard .main .metrics-header h2 {
  font-size: 32px;
  font-weight: 500;
}
.user-dashboard .main .metrics-header a {
  font-size: 24px;
  /* unvisited link */
  /* mouse over link */
}
.user-dashboard .main .metrics-header a :link {
  color: #3e98c7;
}
.user-dashboard .main .metrics-header a :visited {
  color: #3e98c7;
  font-weight: 200;
}
.user-dashboard .main .metrics-header a :hover {
  color: black;
}
.user-dashboard .main .metrics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.user-dashboard .main ::-webkit-scrollbar {
  width: 10px;
}
.user-dashboard .main ::-webkit-scrollbar-track {
  background: #ffffff;
}
.user-dashboard .main ::-webkit-scrollbar-thumb {
  background: #000000;
}
.user-dashboard .main ::-webkit-scrollbar-thumb:hover {
  background: #000000;
}
.user-dashboard .main .metric-card {
  width: 27%;
  height: 100%;
  border: solid black;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  box-shadow: 10px 10px;
}
.user-dashboard .main .metric-card h3 {
  font-size: 24px;
  font-weight: 500;
}
.user-dashboard .main .metric-card .metrics-card-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}
.user-dashboard .main .metric-card .metrics-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 325px;
}
.user-dashboard .main .metric-card .metrics-card-content .progress-bar-text-complete {
  font-size: 24px;
  font-weight: 500;
  margin-top: 15;
  margin-bottom: 15;
}
.user-dashboard .main .metric-card .metrics-card-content .progress-bar-text-incomplete {
  font-size: 24px;
  font-weight: 500;
  margin-top: 15;
  margin-bottom: 15;
}
.user-dashboard .main .metric-card .metrics-card-content img {
  max-width: 90%;
  max-height: 90%;
  padding: 10px 0px 10px 0px;
  margin: 5px 0px 5px 0px;
  overflow: hidden;
}
.user-dashboard .main .metric-card .metric-card-input {
  width: 100%;
  height: 50px;
  border-top: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.user-dashboard .main .metric-card .metric-card-input button {
  width: 75px;
  background-color: white;
  border: none;
  font-size: 24px;
  font-weight: 500 !important;
}
.user-dashboard .main .metric-card .metric-card-input h3 {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-left: solid black;
  border-right: solid black;
  border-width: 1px;
}
.user-dashboard .user-sidebar {
  width: 25%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.user-dashboard .user-sidebar .personal-goals {
  width: 100%;
  height: 50%;
  border-bottom: solid black;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.user-dashboard .user-sidebar .personal-goals h2 {
  font-size: 32px;
}
.user-dashboard .user-sidebar .personal-goals h3 {
  font-size: 24px;
  font-weight: 500;
}
.user-dashboard .user-sidebar .personal-goals .incomplete {
  font-size: 24px;
  color: salmon;
}
.user-dashboard .user-sidebar .personal-goals .complete {
  font-size: 24px;
  color: #3e98c7;
}
.user-dashboard .user-sidebar .leader-board {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: scroll;
}
.user-dashboard .user-sidebar .leader-board h2 {
  font-size: 32px;
}
.user-dashboard .user-sidebar .leader-board h3 {
  font-size: 24px;
}
.user-dashboard .user-sidebar .leader-board h4 {
  font-size: 24px;
  font-weight: 700;
}
.user-dashboard .user-sidebar .leader-board::-webkit-scrollbar {
  width: 10px;
}
.user-dashboard .user-sidebar .leader-board::-webkit-scrollbar-track {
  background: #ffffff;
}
.user-dashboard .user-sidebar .leader-board::-webkit-scrollbar-thumb {
  background: #000000;
}
.user-dashboard .user-sidebar .leader-board::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.user-dashboard .user-sidebar .sidebar-title {
  font-size: 100px !important;
  font-weight: 500 !important;
  display: flex;
  justify-content: center;
  padding: 20px 0px 20px 0px;
  width: 100%;
}
.user-dashboard .user-sidebar .sidebar-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.user-dashboard .user-sidebar .sidebar-content h2 {
  padding: 10px 0px 10px 0px;
}
.user-dashboard .user-sidebar .sidebar-content .sidebar-content-categrories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.user-dashboard .user-sidebar .sidebar-content-leaderboard {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.user-dashboard .user-sidebar .sidebar-content-leaderboard h2 {
  padding: 10px 0px 10px 0px;
}
.user-dashboard .user-sidebar .sidebar-content-leaderboard .sidebar-content-categrories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.user-dashboard .user-sidebar .integrations {
  width: 100%;
  border: solid black;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 1300px) {
  .user-dashboard {
    border: none;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .user-dashboard .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-top: solid black 2px;
    border-bottom: solid black 2px;
    border-right: none;
  }
  .user-dashboard .main .metrics-container {
    height: 100%;
    padding: 50px;
    overflow: none;
  }
  .user-dashboard .main .metric-card {
    width: 40%;
    height: 100%;
    border: solid black;
    margin-bottom: 50px;
  }
  .user-dashboard .main .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px 20px 40px;
  }
  .user-dashboard .user-sidebar {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: black solid 2px;
  }
  .user-dashboard .user-sidebar .personal-goals {
    width: 100%;
    height: 100%;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border-right: solid black 2px;
  }
  .user-dashboard .user-sidebar .leader-board {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
@media only screen and (max-width: 900px) {
  .user-dashboard .main .metric-card {
    width: 45%;
  }
  .user-dashboard .user-sidebar .personal-goals {
    padding-bottom: 30px;
  }
  .user-dashboard .user-sidebar .leader-board {
    border-top: solid black 2px;
  }
}
@media only screen and (max-width: 700px) {
  .user-dashboard {
    border: none;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .user-dashboard .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-top: solid black 2px;
    border-bottom: solid black 2px;
    border-right: none;
  }
  .user-dashboard .main .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px 20px 40px;
  }
  .user-dashboard .main .header .user-profile {
    margin-bottom: 50px;
  }
  .user-dashboard .main .metrics-container {
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    padding: 50px;
    overflow: none;
    align-items: center;
    justify-content: space-evenly;
  }
  .user-dashboard .main .metrics-container .metrics {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }
  .user-dashboard .main .metrics-container .metrics .metric-card {
    width: 85%;
    height: 100%;
    border: solid black;
    margin-bottom: 50px;
  }
  .user-dashboard .user-sidebar {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: black solid 2px;
  }
  .user-dashboard .user-sidebar .personal-goals {
    width: 100%;
    height: 100%;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: solid black 2px;
  }
  .user-dashboard .user-sidebar .leader-board {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
.auth-container {
  width: 90%;
  display: flex;
  height: 75vh;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.auth-container .marketing {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 70%;
}
.auth-container .marketing h1 {
  font-size: 72px;
  font-weight: 500;
}
.auth-container .marketing img {
  width: 350px;
  padding: 20px;
}
.auth-container .marketing .refresh-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.auth-container .marketing .refresh-logo img {
  width: 80px;
  padding-left: -15px;
  margin-left: -15px;
}
.log-in-card {
  padding: 20px 20px 30px 20px;
  border: solid black;
  border-width: 2px;
  box-shadow: 10px 10px;
}
.log-in-card h2 {
  font-weight: 700;
}
.input-errors {
  font-size: 18px;
  font-weight: 500;
  color: salmon;
}
.sign-up-card {
  padding: 20px 20px 30px 20px;
  border: solid black;
  border-width: 2px;
  box-shadow: 10px 10px;
}
.sign-up-card h2 {
  font-weight: 700;
}
.cardwrapper {
  overflow: hidden;
  padding: 0 0 32px;
  margin: 48px auto 0;
  width: 300px;
  height: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5), 0 0px 40px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.cardheader {
  padding-top: 32px;
  padding-bottom: 32px;
}
.cardheading {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.cardbody {
  padding-right: 32px;
  padding-left: 32px;
}
.cardfieldset {
  position: relative;
  padding: 0;
  margin: 0;
  border: 0;
}
.cardfieldset + .cardfieldset {
  margin-top: 24px;
}
.cardfieldset:nth-last-of-type(2) {
  margin-top: 32px;
}
.cardfieldset:last-of-type {
  text-align: center;
}
.checkbox-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.checkbox-section .checkbox-text {
  width: 100%;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
}
.cardinput {
  padding: 10px 0;
  width: 100%;
  font-size: 18px;
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid black;
  background-color: white;
  border-left: 0;
  transition: border-bottom-color 0.25s ease-in;
}
.cardinput:focus {
  border-bottom: 4px solid black;
  outline: 0;
}
.card-button {
  display: block;
  width: 100%;
  padding: 12px 0;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  color: white;
  background-color: black;
  border: 0;
}
.card-button:hover {
  border: solid black;
  border-width: 4px;
  background-color: white;
  color: black;
}
.user-type-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  background-color: chocolate;
}
.user-button,
.admin-button {
  display: flex;
  width: 49%;
  padding: 12px 0;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  color: white;
  background-color: black;
  border: 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.user-button:hover,
.admin-button:hover {
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.16);
  transform: translate(0, -5px);
}
.cardlink {
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
  color: steelblue;
  cursor: pointer;
  transition: color 0.25s ease-in;
  /* unvisited link */
  /* mouse over link */
}
.cardlink:hover {
  color: black;
}
.cardlink :link {
  color: steelblue;
}
.cardlink :visited {
  color: steelblue;
  font-weight: 200;
}
.cardlink :hover {
  color: black;
}
@media only screen and (max-width: 1300px) {
  .auth-container {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media only screen and (max-width: 900px) {
  .auth-container {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
  }
}
.daily-retro {
  width: 100%;
  max-width: 1800px;
  height: 100vh;
  max-height: 100vh;
  margin: 0 auto;
  border: solid black;
  border-width: 2px;
  margin: 0  auto;
  display: flex;
  flex-direction: column;
}
.daily-retro .header {
  width: 100%;
  border-bottom: solid black;
  border-width: 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px 20px 40px;
}
.daily-retro .header .daily-points h2 {
  font-size: 44px;
  font-weight: 500;
}
.daily-retro .header .daily-points h3 {
  font-size: 24px;
  font-weight: 500;
}
.daily-retro .header .user-profile {
  border: solid black;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 5px;
  box-shadow: 10px 10px;
}
.daily-retro .header .user-profile .profile-pic {
  border-radius: 50%;
}
.daily-retro .header .user-profile .dropdown-toggle {
  margin-top: 40px;
  background-color: white !important;
  color: black;
  font-size: 32px;
  border: none;
  height: 50px;
}
.daily-retro .header .user-profile .dropdown-item {
  color: black;
  font-family: inherit;
  font-size: 24px;
  margin: 10px;
  width: 200px;
}
.daily-retro .header .user-profile .dropdown-item img {
  width: 30px;
  margin-right: 40px;
}
.daily-retro .header .user-profile .user-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 0 10px 0 10px;
}
.daily-retro .DailyRetro {
  height: 100%;
  width: 100%;
}
.daily-retro .DailyRetro .slide {
  height: 100%;
}
.daily-retro .DailyRetro .slide .carousel-inner {
  height: 100%;
}
.daily-retro .DailyRetro .slide .carousel-inner .carousel-item {
  height: 100%;
}
.daily-retro .DailyRetro .slide .carousel-inner .carousel-item.active {
  height: 100%;
}
.daily-retro .DailyRetro .metric-slide {
  height: 100%;
}
.daily-retro .DailyRetro .metric-slide .slide-nav {
  height: 70px;
  border-bottom: black solid 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* mouse over link */
}
.daily-retro .DailyRetro .metric-slide .slide-nav h2 {
  font-size: 32px;
  font-weight: 700;
}
.daily-retro .DailyRetro .metric-slide .slide-nav button {
  border: none;
  font-size: 24px;
  font-weight: 400;
  background-color: white;
  color: #3E98C7;
}
.daily-retro .DailyRetro .metric-slide .slide-nav button:hover {
  color: black;
  font-weight: 700;
}
.daily-retro .DailyRetro .metric-slide .slide-content {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.daily-retro .DailyRetro .metric-slide .slide-content .slide-card {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.daily-retro .DailyRetro .metric-slide .slide-content .slide-card a {
  font-size: 24px;
  font-weight: 500;
  color: #3E98C7;
}
.daily-retro .DailyRetro .metric-slide .slide-content .slide-card a:hover {
  color: black;
  font-weight: 700;
  text-decoration: none;
}
.daily-retro .DailyRetro .metric-slide .slide-content .slide-card .metric-card {
  width: 50%;
  height: 70%;
  border: solid black;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 10px 10px;
  margin-bottom: 40px;
}
.daily-retro .DailyRetro .metric-slide .slide-content .slide-card .metric-card h3 {
  font-size: 32px;
}
.daily-retro .DailyRetro .metric-slide .slide-content .slide-card .metric-card .metrics-card-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}
.daily-retro .DailyRetro .metric-slide .slide-content .slide-card .metric-card .metrics-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 225px;
}
.daily-retro .DailyRetro .metric-slide .slide-content .slide-card .metric-card .metrics-card-content .progress-bar-text-complete {
  font-size: 32px;
  font-weight: 500;
  margin-Top: 15;
  margin-Bottom: 20px;
}
.daily-retro .DailyRetro .metric-slide .slide-content .slide-card .metric-card .metrics-card-content .progress-bar-text-incomplete {
  font-size: 32px;
  font-weight: 500;
  margin-Top: 15;
  margin-Bottom: 20px;
}
.daily-retro .DailyRetro .metric-slide .slide-content .slide-card .metric-card .metrics-card-content img {
  max-width: 90%;
  max-height: 90%;
  padding: 10px 0px 10px 0px;
  margin: 5px 0px 5px 0px;
  overflow: hidden;
}
.daily-retro .DailyRetro .metric-slide .slide-content .slide-card .metric-card .metric-card-input {
  width: 100%;
  height: 75px;
  border-top: solid #000000;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.daily-retro .DailyRetro .metric-slide .slide-content .slide-card .metric-card .metric-card-input button {
  width: 75px;
  background-color: #ffffff;
  border: none;
  font-size: 32px;
  font-weight: 500 !important;
}
.daily-retro .DailyRetro .metric-slide .slide-content .slide-card .metric-card .metric-card-input h3 {
  display: flex;
  height: 75px;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-left: solid black;
  border-right: solid black;
  border-width: 1px;
}
.daily-retro .DailyRetro .metric-slide .slide-content .slide-goal {
  width: 25%;
  height: 100%;
  border-left: solid black 2px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.daily-retro .DailyRetro .metric-slide .slide-content .slide-goal h2 {
  font-size: 64px;
  font-weight: 500;
}
.daily-retro .DailyRetro .metric-slide .slide-content .slide-goal p {
  font-size: 20px;
  font-weight: 400;
}
.user-list {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.user-list .user-avatar {
  text-align: center;
  padding: 0 0 10px 0;
}
.user-list .user-avatar img {
  width: 35%;
}
.user-list .user-search-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 5vw;
  margin-left: 5vw;
  padding: 60px 0px;
}
.user-list .user-search-menu .user-list-title {
  color: black;
}
.user-list .user-search-menu .user-list-title div h1 {
  font-size: 55px;
  font-weight: 500;
  letter-spacing: 5px;
  margin-left: 30px;
}
.user-list .user-search-menu .user-search-menu-end {
  display: flex;
  flex-direction: row;
  height: 50px;
}
.user-list .user-search-menu .user-list-search-bar {
  display: flex;
  border: 3px solid black;
  width: 300px;
  box-shadow: 10px 10px;
  margin-right: 120px;
}
.user-list .user-search-menu .user-list-search-bar input {
  width: 100%;
  border: none;
  font-size: 18px;
  font-family: "gopher", sans-serif;
  text-align: center;
}
.user-list .user-search-menu .user-list-search-bar img {
  width: 25px;
  margin-right: 10px;
  margin-left: 10px;
}
.user-list .user-search-menu .user-list-team-dropdown {
  height: 100%;
  font-family: "gopher", sans-serif;
  font-size: 18px;
  padding: 10px 0;
  width: 300px;
  border: 3px solid black;
  box-sizing: border-box;
  text-align-last: center;
  box-shadow: 10px 10px;
  margin-right: 30px;
}
.user-list .user-search-menu .user-list-team-dropdown .user-list-drop-down-option {
  font-family: "gopher", sans-serif;
  font-size: 18px;
  padding: 10px 0;
  text-align: center;
}
.user-list .user-list-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 5vw;
  margin-left: 5vw;
}
.profile-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 2px solid black;
  width: 300px;
  margin: 30px 30px;
  box-sizing: border-box;
  box-shadow: 10px 10px;
  font-family: "gopher", sans-serif;
}
.profile-card .delete-button {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 0 0;
}
.profile-card .user-name {
  font-size: 24px;
  font-weight: 500;
  padding: 5px;
  text-align: center;
}
.profile-card .user-email {
  padding: 5px;
  text-align: center;
}
.profile-card .user-points {
  font-size: 24px;
  font-weight: 500;
  padding: 5px;
  text-align: center;
}
.profile-card .user-team-dropdown {
  padding: 10px;
  margin: 10px 20px 20px 20px;
  font-size: 18px;
  border: solid 2px black;
  text-align-last: center;
}
.profile-card .user-team-dropdown option {
  padding: 10px;
  margin: 10px;
}
.navBar {
  position: fixed;
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 85px;
  height: 100vh;
  justify-content: space-between;
}
.navBar .header {
  font-size: 25px;
  letter-spacing: 3px;
  font-family: "gopher", sans-serif;
  text-align: center;
  visibility: hidden;
  color: white;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
}
.navBar a {
  color: white !important;
}
.navBar:hover {
  background-color: black;
  width: 300px;
  align-items: flex-start;
  transition: 0.5s ease-in-out;
}
.navBar:not(:hover) {
  transition: 0.5s;
  align-items: flex-star;
}
.navBar .img {
  display: flex;
  text-align: center;
  justify-content: space-between;
  opacity: 100%;
  max-width: 30px;
  max-height: 30px;
  margin-left: 7.5px;
  margin-right: 15px;
  margin-bottom: 2vh;
}
.navBar:hover .header {
  visibility: visible;
  opacity: 1;
}
.iconcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
  margin-right: 10px;
}
.logoutcontainer {
  margin-bottom: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.usersimg {
  height: 55px;
  margin: 0px 16px;
  color: white;
}
.leaderboardimg {
  height: 55px;
  margin: 0px 16px;
  color: white;
}
.logoutimage {
  height: 55px;
  margin: 0px 16px;
  color: white;
}
.logoutheader {
  font-size: 25px;
  letter-spacing: 3px;
  font-family: "gopher", sans-serif;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
}
.Modal {
  border-radius: 0px !important;
}
.nav-base {
  width: 75px;
  height: 100vh;
}
.admin-app {
  display: flex;
  flex-direction: row;
}
.leader-board-section {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 100%;
  overflow: auto;
  height: 100vh;
}
.leader-board-section > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.leader-board-section .team-card-labels {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0px 20px 0px 20px;
  margin-bottom: 0;
  margin-left: 5vw ;
  margin-right: 5vw;
}
.leader-board-section .team-card-labels .team-card-labels-teams {
  flex: 1 1 100%;
  font-family: "gopher", sans-serif;
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 3px;
  color: black;
}
.leader-board-section .team-card-labels .team-card-labels-points {
  flex: 1 1 100%;
  font-family: "gopher", sans-serif;
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 3px;
  color: black;
  text-align: center;
}
.leader-board-section .team-card-labels .team-card-labels-edit {
  flex: 1 1 100%;
  display: flex;
  justify-content: flex-end;
  font-family: "gopher", sans-serif;
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 3px;
  color: black;
}
.leader-board-section button.btn-primary {
  background-color: white;
  border: 2px black solid;
  padding: unset;
  box-shadow: 10px 10px 0 #000000;
  margin-left: 5vw;
  margin-right: 5vw;
}
.leader-board-section .cardClass {
  margin: unset;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
.leader-board-section .cardClass .name {
  text-align: start;
  padding: unset;
  flex: 1 1 100%;
  margin: unset;
  width: unset;
  font-size: 24px;
  font-family: "gopher", sans-serif;
  font-weight: 500;
}
.leader-board-section .cardClass .points {
  padding: unset;
  margin: unset;
  text-align: center;
  flex: 1 1 100%;
  font-size: 24px;
  font-family: "gopher", sans-serif;
  font-weight: 500;
}
.leader-board-section .cardClass .team-card-buttons {
  margin: unset;
  width: unset;
  padding: unset;
  flex: 1 1 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.leader-board-section .teamCardFlex {
  color: black;
  display: flex;
}
.leader-board-section .leaderboard-title {
  display: flex;
  flex-direction: row;
  margin-right: 5vw;
  margin-left: 5vw;
  justify-content: space-between;
  padding: 60px 20px;
  align-content: baseline;
}
.leader-board-section .leaderboard-title h1 {
  font-family: "gopher", sans-serif;
  font-size: 55px;
  font-weight: 500;
  letter-spacing: 5px;
}
.leader-board-section .add-team-section {
  display: flex;
  justify-content: flex-end;
}
.leader-board-section .add-team-button:hover {
  cursor: pointer;
  color: black;
  text-decoration: underline;
}
.leader-board-section .add-team-button {
  font-family: "gopher", sans-serif;
  font-size: 35px;
  font-weight: 500;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  color: #3E98C7;
}
div.card {
  border: none;
  margin-left: 5vw;
  margin-right: 5vw;
  z-index: -1;
}
div.card-body {
  font-family: "gopher", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 0 0 1.25rem;
  border: white;
}
div.card-body .accordian-user-card {
  border: black 2px solid;
  margin-top: 5px;
  padding: 10px;
  display: flex;
  font-size: 24px;
}
div.card-body .accordian-user-card .team-card-team-name {
  flex: 1 1 100%;
  margin: unset;
  font-size: 24px;
  padding: 10px;
}
div.card-body .accordian-user-card .team-card-points {
  flex: 1 1 100%;
  margin: unset;
  font-size: 24px;
  padding: 10px;
  text-align: center;
}
div.card-body .accordian-user-card div {
  flex: 1 1 100%;
  display: flex;
  margin: unset;
  padding: 10px;
  justify-content: flex-end;
}
div.card-body .accordian-user-card div img {
  height: 37px;
  margin-right: 10px;
}
